/* BASIC STYLES */
body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.page_wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F6F6F6;
}

.body_wrapper {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0;
  background-color: #fff;
}

/* HEADER STYLES */

header {
  height: 50px;
  width: 100%;
  background-color: #33B579;
  color: #fff;
}

header h1 {
  margin-top: 0;
  padding-top: 10px;
  font-weight: 600;
}

header p {
  font-weight: 300;
}

.contact_link {
  margin-top: 35px;
}

header a {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  border: solid 2px #fff;
  border-radius: 3px;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

header a:visited {
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
  color: #33B579;
  background-color: #fff;
}

header a {
  text-decoration: none;
}

header img {
  margin: 40px 20px 10px;
  width: 180px;
  border-radius: 50%;
  border: solid 3px #33B579;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}

header img:hover {
  border: solid 3px #fff;
}


/* PROJECT GALLERY STYLES */

.project_gallery h1 {
  margin: 40px auto;
  color: #576366;
  font-weight: 600;
}

.gallery_wrapper {
  display: flex;
  flex-direction: column;
}

.project h2 {
  color: #33B579;
  font-weight: 600;
  /*text-decoration: underline;
  text-decoration-color: #33B579;*/
}

.project {
  margin: 0px auto 80px;
  width: 310px;
}


.project img {
  width: 310px;
  border-radius: 3px;
  border: solid 3px #fff;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}

.project img:hover {
  border: solid 3px #33B579;
}

.project p {
  color: #576366;
  padding-left: 8px;
  padding-right: 8px;
}

.project a {
  text-decoration: none;
  color: #33B579;
}

.project p a:hover {
  border-bottom: solid 2px #33B579;
}

/* FOOTER STYLES */

footer {
  background-color: #33B579;
  color: #fff;
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
}

footer ul {
padding-left: 0;
padding-bottom: 20px;
margin: 0;
}

footer li {
  list-style: none;
  margin: 25px;
}

#touch {
  padding-top: 20px;
  font-weight: 600;
  font-size: 28px;
}

.social ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.svg {
  fill: #fff;
  width: 80px;
  height: 80px;
}

.border {
  display: none;
}

/* ABOUT STYLES */

.about {
  display: none;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
}

.about p {
  margin-bottom: 0px;
  padding-left: 42px;
  padding-right: 42px;
  font-weight: 300;
}

.about a {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  border: solid 2px #fff;
  border-radius: 3px;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.about a:visited {
  text-decoration: none;
}

.about a:hover {
  text-decoration: none;
  color: #33B579;
  background-color: #fff;
}

.about a {
  text-decoration: none;
}

.copyright {
  color: #2a9664;
  font-weight: 300;
  font-size: 18px;
  padding: 0;
  margin-bottom: 0;
}

.copyright:hover {
  color: #3ed690;
}

.copy_content {
  display: none;
  color: #2a9664;
  font-weight: 300;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .gallery_wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project {
    width: 500px;
  }
}


@media (min-width: 1024px) {

  .about {
    display: block;
  }

  footer {
    height: 320px;
  }

  .footer_wrapper {
    flex-direction: row;
  }

  .social {
    width: 50%;
  }

  .social ul {
    flex-direction: row;
  }

  .border {
    display: inline;
    height: 80%;
    width: 2px;
    background-color: #fff;
  }
  .about {
    width: 50%;
  }
}
